{% load static %}
<html lang="en">
    <head>
        <title>Add comment</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap and css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/page.css' %}" type="text/css"/>
    </head>

    <body class="body_log">
        <div class="wrapper">

            <div class="add-com-text">
                <p>Fill in the fields to add a comment</p>
            </div>

            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <p class="reg-form">
                        {{ field.label_tag }}<br>
                        <div style="color: black;">{{ field }}</div>
                    </p>
                {% endfor %}

                <div class="form-group" style="padding-top: 15px;">
                    <input type="submit" class="btn btn-primary" value="Save">
                </div>
            </form>
        </div>
    </body>
</html>