{% load static %}
<html lang="en">
    <head>
        <title>Management</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap and css -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="{% static 'css/page.css' %}" type="text/css"/>
    </head>

    <body style="background-color: #1F1F1F;">
        <!-- Car offer management -->
        <div class="wrapper_manage">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header clearfix">
                            <h2 class="pull-left" style="color: white;">Car offer details</h2>
                            <div style="padding-top: 15px;">
                                <div><a href="{% url 'index' %}" class="btn btn-primary pull-right" style="padding: 10px 20px 10px 20px;">Back</a></div>
                                <div><a href="{% url 'car-add' %}" class="btn btn-success pull-right" style="padding: 10px 20px 10px 20px;">Add new</a></div>
                            </div>
                        </div>

                        <table class='table table-bordered table_com'>
                            <thead>
                                <tr>
                                    <th class='t_com'>ID</th>
                                    <th class='t_com'>Site</th>
                                    <th class='t_com'>Image url</th>
                                    <th class='t_com'>Description</th>
                                    <th class='t_com'>Price</th>
                                    <th class='t_com'>Status</th>
                                    <th class='t_com'>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for daily in daily_cars %}
                                    {% if daily.site_url == 'daily' %}
                                        <tr>
                                            <td class='t_com'>{{ daily.id }}</td>
                                            <td class='t_com'>{{ daily.site_url }}</td>
                                            <td class='t_com'>{{ daily.image_url }}</td>
                                            <td class='t_com'>{{ daily.brand|add:' '|add:daily.model|add:' '|add:daily.year }}</td>
                                            <td class='t_com'>{{ daily.price }}</td>
                                            <td class='t_com'>{{ daily.active }}</td>
                                            <td class='t_com'>
                                                <a href="{% url 'car-view' pk=daily.pk %}" title='View' data-toggle='tooltip'><span class='glyphicon glyphicon-eye-open' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-edit' pk=daily.pk %}" title='Edit' data-toggle='tooltip'><span class='glyphicon glyphicon-pencil' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-delete' pk=daily.pk %}" title='Delete' data-toggle='tooltip'><span class='glyphicon glyphicon-trash' style='padding-right:0px; color: #3D3D3D;'></span></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for sport in sport_cars %}
                                    {% if sport.site_url == 'sport' %}
                                        <tr>
                                            <td class='t_com'>{{ sport.id }}</td>
                                            <td class='t_com'>{{ sport.site_url }}</td>
                                            <td class='t_com'>{{ sport.image_url }}</td>
                                            <td class='t_com'>{{ sport.brand|add:' '|add:sport.model|add:' '|add:sport.year }}</td>
                                            <td class='t_com'>{{ sport.price }}</td>
                                            <td class='t_com'>{{ sport.active }}</td>
                                            <td class='t_com'>
                                                <a href="{% url 'car-view' pk=sport.pk %}" title='View' data-toggle='tooltip'><span class='glyphicon glyphicon-eye-open' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-edit' pk=sport.pk %}" title='Edit' data-toggle='tooltip'><span class='glyphicon glyphicon-pencil' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-delete' pk=sport.pk %}" title='Delete' data-toggle='tooltip'><span class='glyphicon glyphicon-trash' style='padding-right:0px; color: #3D3D3D;'></span></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                {% for muscle in muscle_cars %}
                                    {% if muscle.site_url == 'muscle' %}
                                        <tr>
                                            <td class='t_com'>{{ muscle.id }}</td>
                                            <td class='t_com'>{{ muscle.site_url }}</td>
                                            <td class='t_com'>{{ muscle.image_url }}</td>
                                            <td class='t_com'>{{ muscle.brand|add:' '|add:muscle.model|add:' '|add:muscle.year }}</td>
                                            <td class='t_com'>{{ muscle.price }}</td>
                                            <td class='t_com'>{{ muscle.active }}</td>
                                            <td class='t_com'>
                                                <a href="{% url 'car-view' pk=muscle.pk %}" title='View' data-toggle='tooltip'><span class='glyphicon glyphicon-eye-open' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-edit' pk=muscle.pk %}" title='Edit' data-toggle='tooltip'><span class='glyphicon glyphicon-pencil' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'car-delete' pk=muscle.pk %}" title='Delete' data-toggle='tooltip'><span class='glyphicon glyphicon-trash' style='padding-right:0px; color: #3D3D3D;'></span></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if not daily_cars and not sport_cars and not muscle_cars %}
                            <p class='lead' style="color: white;"><em>No results found</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <!-- Popular cars management - index site -->
        <div class="wrapper_manage">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="page-header clearfix">
                            <h2 class="pull-left" style="color: white;">Popular cars - home page</h2>
                            <div style="padding-top: 15px;">
                                <div><a href="{% url 'index' %}" class="btn btn-primary pull-right" style="padding: 10px 20px 10px 20px;">Back</a></div>
                                <div><a href="{% url 'pop-car-add' %}" class="btn btn-success pull-right" style="padding: 10px 20px 10px 20px;">Add new</a></div>
                            </div>
                        </div>

                        <table class='table table-bordered table_com'>
                            <thead>
                                <tr>
                                    <th class='t_com'>ID</th>
                                    <th class='t_com'>Site</th>
                                    <th class='t_com'>Image url</th>
                                    <th class='t_com'>Description</th>
                                    <th class='t_com'>Status</th>
                                    <th class='t_com'>Options</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for car in pop_cars %}
                                    {% if car.site_url == 'index' %}
                                        <tr>
                                            <td class='t_com'>{{ car.id }}</td>
                                            <td class='t_com'>{{ car.site_url }}</td>
                                            <td class='t_com'>{{ car.image_url }}</td>
                                            <td class='t_com'>{{ car.brand|add:' '|add:car.model|add:' '|add:car.year }}</td>
                                            <td class='t_com'>{{ car.active }}</td>
                                            <td class='t_com'>
                                                <a href="{% url 'pop-car-view' pk=car.pk %}" title='View' data-toggle='tooltip'><span class='glyphicon glyphicon-eye-open' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'pop-car-edit' pk=car.pk %}" title='Edit' data-toggle='tooltip'><span class='glyphicon glyphicon-pencil' style='padding-right:10px; color: #3D3D3D;'></span></a>
                                                <a href="{% url 'pop-car-delete' pk=car.pk %}" title='Delete' data-toggle='tooltip'><span class='glyphicon glyphicon-trash' style='padding-right:0px; color: #3D3D3D;'></span></a>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                        {% if not pop_cars %}
                            <p class='lead' style="color: white;"><em>No results found</em></p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>